<main class="min-h-screen">
	<div class="grid grid-cols-1  m-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
		{% for dep in departments %}
		<div class="bg-white rounded-lg shadow-md border-2 border-gray-100  border-opacity-25 p-6">
			<h2 class="text-xl font-bold mb-2">{{dep.name}}</h2>
			<p class="text-gray-600">{{dep.oid}}</p>
		</div>
		{% endfor %}
		<div class="bg-white rounded-lg shadow-md border-2 border-dashed border-gray-300 p-6">
			<form hx-post="/departments" hx-swap="none" id="create_dep">
				<h2 class="text-xl font-bold mb-2">New department</h2>
				<input type="text" name="department_name" required class="border-1 border-gray-400 rounded py-2">
				<button type="submit" class="bg-gray-400 rounded px-4 py-2 text-white hover:bg-gray-600">Create</button>
			</form>
		</div>
	</div>
</main>
