<form hx-put="employees/{{employee.oid}}" hx-target="main">
	<h2 class="text-xl font-semibold text-gray-800">
		<input type="text" name="first_name" value="John">
		<input type="text" name="second_name" value="Doe">
	</h2>
	<p>
		<span class="font-medium">
			<select hx-get="/departments/options" hx-target="this" hx-swap="innerHTML" hx-trigger="load" class="rounded border border-gray-300 p-1" name="department_id">
				<option value="none">loading...</option>
			</select>
		</span> 
		/ <input class="rounded border border-gray-300 p-1" name="job_title" type="text" value="Developer">
	</p>
	<div class="flex gap-8 my-5">
		<!-- First Div: General Employee Info -->
		<div class="flex-1 space-y-4">
			<div class="space-y-2 text-gray-600">
				<p>
					<span class="font-medium">Salary: </span>
					<input class="rounded border border-gray-300 p-1" type="number" name="salary" value="85000">
				</p>
				<p>
					<span class="font-medium">Award:</span>
					<input class="rounded border border-gray-300 p-1" type="number" name="award" value="12000">
				</p>
				<p>
					<span class="font-medium">Workload:</span> 
					<select class="rounded border border-gray-300 p-1" name="workload">
						<option value="fulltime">Fulltime</option>
						<option value="parttime">parttime</option>
					</select>
				</p>
				<p>
					<span class="font-medium">Work Location:</span>
					<select class="rounded border border-gray-300 p-1" name="work_location">
						<option value="remote">Remote</option>
						<option value="office">Office</option>
						<option value="hybrid">Hybrid</option>
					</select>
				</p>
			</div>
		</div>
		<!-- Second Div: Salary, Awards, and Contact Info -->
		<div class="flex-1 space-y-4">
			<div class="space-y-2 text-gray-600">
				<p>
					<span class="font-medium">Email:</span>
					<input class="rounded border border-gray-300 p-1" type="email" name="email" value="john.doe@example.com">
				</p>
				<p>
					<span class="font-medium">Social Media:</span>
					<input class="rounded border border-gray-300 p-1" type="url" name="sm_link" value="https://t.me/user1">
				</p>
				<p><span class="font-medium">Hire Date:</span> January 15, 2020</p>
			</div>
		</div>

	</div>
	<div class="rounded-xl bg-sky-50 py-4 px-2" title="75% of KPI achieved">
		<p class="font-medium mb-2 text-gray-700">KPI</p>
		<input class="w-full" type="range" name="kpi_value" value="75" min="0" max="100">
		<output name="range_kpi" for="kpi" >75</output>
		<div class="flex items-center gap-4">
		</div>
	</div>
	<div class="flex mt-3">
		<div class="mx-auto">
			<button type="submit" class="w-30 bg-indigo-500 px-4 mx-5 py-1 text-white rounded">Save</button>
			<button class="w-30 bg-red-600 px-4 py-1 text-white rounded">Cancel</button>
		</div>
	</div>
</form>
