{%if employees %}
{% for employee in employees %}
<!-- Employee Card -->
<div class="bg-gray-100 p-4 rounded-lg hover:bg-indigo-100" hx-get="/employees/{{employee.oid}}" hx-trigger="click" hx-target="main" hx-swap="outerHTML">
	<p class="font-bold">{{employee.first_name}} {{employee.second_name}}</p>
	<p class="text-gray-600">{{employee.department.name}} / {{employee.job_title}}</p>
</div>
{% endfor %}
<!-- Add more employee cards here -->
{% if department %}
<button hx-get="/departments/{{department.oid}}/employees?page={{next_page}}" hx-swap="outerHTML" hx-trigger="click" hx-target="this" class="w-50 bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Load more</button>
{% else %}
<button hx-get="/employees?page={{next_page}}" hx-swap="outerHTML" hx-trigger="click" hx-target="this" class="w-50 bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Load more</button>
{% endif %}
{% else %}
<button class="bg-gray-500 py-2 px-4 rounded-lg text-white" disabled>Nothing to load</button>
{% endif %}
